body{
    background-color: pink;
}
main {
    text-align: center;
    margin: 50px auto;
}
h1{
    color: white;
    size: 100px;
}
p{
    color: white;
    max-width: 75%;
}
div{
    text-align: left;
    padding-left: 550px;
}
img{
    width: 15%;
    height: 15%;
}
* {
    border: 2px solid blue;
}